*{
  box-sizing: border-box;
}
.App{
  min-height: 100vh;
  background: #2f2f2f;
  display: flex;
  flex-direction: column;
  color: white;
}
h2{
  position: fixed;
  width: 100%;
  z-index: 200;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: red;
  padding-left: 10px;
  box-shadow: 0px 5px 10px #000;
  margin: 10px;
  background: linear-gradient(90deg, rgb(51, 51, 51), rgb(51, 51, 51), rgb(255, 62, 62));
  height: 32px;
}
h2 img{
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
h2 span button{
  font-size: small;
  float: right;
  margin-right: 20px;
  border: solid white 1px;
  padding: 4px;
  cursor: pointer;
  font-style: initial;
  color: white;
  margin-top: 2px;
  background-color: #2f2f2f;
}

h2 span button:hover{
  background: #fff;
  color: black
}

img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-all{
  margin: 20px;
  margin-top: 100px;
  justify-self: start;
  align-self: start;
  display: flex;
  flex-direction: column;
}
.chat{
  box-shadow: 0px 10px 5px black;
  margin-bottom: 12px;
  width: 60%;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  word-spacing: -0.1px;
  text-align: left !important;
}
.sent{
  background:rgb(255, 62, 62);
  align-self: end;
  align-items: flex-end;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.recieved{
  background: rgb(51, 51, 51);
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sent .user-details{
  display: flex;
  background-color: crimson;
  width: 100%;
  justify-content: end;
  align-items: center;
  height: 30px;
  border-top-left-radius: 20px;
}
.sent .user-details img{
  order: 2;
  margin-left: 10px;
}

.recieved .user-details{
  display: flex;
  background-color: #0f0f0f;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-top: 2px;
  border-top-right-radius: 20px;
}
.user-details p{
  margin: 0;
  text-transform: capitalize;
  font-weight: 600;
  opacity: 80%;
}
.text{
  font-size: 1.1rem;
  font-family:Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: justify;
}
.form{
  position: sticky;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  padding-left: 10%;
  background-color: grey;
  padding-top: 5px;
  padding-bottom: 5px;
}
.form input{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: inset 2px 2px 5px black;
  width: 80%;
  font-size: 1rem;
}
.box{
  border-radius: 20px;
  color: red;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: inherit;
}
.box h3:first-child{
  margin-top: 30%;
}
.box h3:last-child{
  margin-top: -10px;
}
.box h3{
  text-align: center;
  color: red;
  text-shadow: 1px 1px 5px crimson;
}
.box{
  position: relative;
  overflow: hidden;
  box-shadow: pink 2px 2px 20px;
  font-size: 1.5rem;
}
.box::before{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: '';
  height: 95%;
  width: 95%;
  position: absolute;
  background: linear-gradient(135deg, rgb(51,51,51) 40%, crimson);
  z-index: -500;
  border-radius: inherit;
}
.box::after{
  top: -50%;
  left: 25%;
  content: '';
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(51,51,51), rgb(255, 56, 89));
  position: absolute;
  z-index: -600;
  height: 200%;
  width: 50%;
  animation: rotate 2000ms linear infinite;
}
/* .box:hover::after{
  transform: rotate(90deg);
} */
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
.wechat h2{
  text-align: center;
  height: fit-content;
}
.wechat h2 span{
  font-size: small;
  color: #fff;
}
.signin{
  width: 50%;
  transform: translateX(50%);
  background-color: grey;
  color: crimson;
  font-weight: 600;
  padding: 5px;
  height: 50px;
  border: none;
  box-shadow: 2px 2px 5px red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin img{
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 400px) {
  .box{
    margin-top: 50%;
  }
}
.send-text{
  color: crimson;
  font-weight: 600;
  font-family: cursive;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}