.box {
  border-radius: 20px;
  color: red;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: inherit;
}
.box h3:first-child {
  margin-top: 30%;
}
.box h3:last-child {
  margin-top: -10px;
}
.box h3 {
  text-align: center;
  color: red;
  text-shadow: 1px 1px 5px crimson;
}
.box {
  position: relative;
  overflow: hidden;
  box-shadow: pink 2px 2px 20px;
  font-size: 1.5rem;
}
.box::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 95%;
  width: 95%;
  position: absolute;
  background: linear-gradient(135deg, rgb(51, 51, 51) 40%, crimson);
  z-index: -500;
  border-radius: inherit;
}
.box::after {
  top: -50%;
  left: 25%;
  content: "";
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0),
    rgb(51, 51, 51),
    rgb(255, 56, 89)
  );
  position: absolute;
  z-index: -600;
  height: 200%;
  width: 50%;
  animation: rotate 2000ms linear infinite;
}
/* .box:hover::after{
    transform: rotate(90deg);
  } */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.wechat h2 {
  text-align: center;
  height: fit-content;
}
.wechat h2 span {
  font-size: small;
  color: #fff;
}
