@import "../var.scss";
.chat {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  align-items: start;
}
.chat-sent {
  align-items: end;
}
.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;

  > img {
    width: 25px;
    height: 25px;
    border-radius: 40%;
  }
  > p {
    text-transform: capitalize;
    margin-left: 1rem;
  }
}
.user-details-sent {
  flex-direction: row-reverse;
  > p {
    margin-right: 1rem;
  }
}
.user-message {
  padding: 0.75rem 1.25rem;
  border-radius: 20px;
  word-wrap: break-word;
  max-width: min(90%, 800px);
  font-size: 18px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.1px;
}
.user-message-sent {
  background-color: $userTextBg;
  color: $userText;
}
.user-message-recieved {
  background-color: $nonUserTextBg;
  color: $nonUserText;
}
