@import "../var.scss";
.send-message-wrapper {
  position: sticky;
  bottom: -10px;
  width: 100%;
  background: #19142b;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: end;

  > textarea {
    resize: none;
    width: min(70%, 900px);
    background-color: transparent;
    border: 1px solid $nonUserText;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: #ffffff;
    font-size: 1.2rem;
    &::placeholder {
      font-size: 1.1rem;
      color: $nonUserText;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  > button {
    background-color: transparent;
    border: none;
    margin-left: 1.5rem;
    cursor: pointer;
    height: 43.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    &:hover {
      border-radius: 50%;
      background-color: #280064;
    }
  }
}
.send-message-wrapper-LIGHT {
  background: $backgroundLight;
  border-top: 1px solid $nonUserTextBgLight;
  > textarea {
    color: $nonUserTextBg;
    border: 1px solid userTextBg;
    &::placeholder{
      color: userTextBg;
    }
  }
  >button{
    &:hover{
      background-color: #d7d7fc;
    }
  }
}
