$backgroundLight: #c041ff;
$backgroundDark: radial-gradient(#19142b, #0f111c);
$userTextBg: #4d38a2;
$nonUserTextBg: #211f3b;
$userText: #ffffff;
$nonUserText: #a5a2b2;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 450px;
